<p>This is the buttons partial view from the show form</p>

<h4>Link Buttons</h4>
<p>
  These buttons work:
</p>
<p>
  <%= button_to "Edit", "/#{media_listing.type.downcase}s/#{media_listing.id}/edit", method: :get %>
  <%= button_to "Delete", "/#{media_listing.type.downcase}s/#{media_listing.id}", method: :delete, data: { confirm: "Are you sure that this listing must be deleted?" }, class: "delete-button"%>
  <%= button_to "View all #{media_listing.type.downcase}s", "/#{media_listing.type.downcase}s", method: :get %>
  <%= button_to "View all media", root_path, method: :get %>
</p>
<h3>experimenting</h3>
<p>
  <%= button_to "Edit", edit_route(media_listing), method: :get %>
  <%= button_to "Delete", media_listing_route(media_listing), method: :delete, data: { confirm: "Are you sure that this listing must be deleted?" }, class: "delete-button"%>
  <%= button_to "View all #{media_listing.type.downcase}s", "/#{media_listing.type.downcase}s", method: :get %>
  <%= button_to "View all media", root_path, method: :get %>

</p>
